# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


cocos2d/
proj.android/
proj.win10/
bin/
proj.android-studio/
proj.tizen/
proj.ios_mac/
proj.linux/
proj.win8.1-universal/
.cocos-project.json
proj.win32/Debug.win32/
proj.win32/.vs/
proj.win32/RCa06104
proj.win32/RCb06104
proj.win32/MyFlappyBird.VC.VC.opendb
proj.win32/MyFlappyBird.VC.db
proj.win32/MyFlappyBird.sln
proj.win32/MyFlappyBird.vcxproj
proj.win32/MyFlappyBird.vcxproj.filters
proj.win32/MyFlappyBird.vcxproj.user
proj.win32/resource.h
proj.win32/res/
proj.win32/build-cfg.json
proj.win32/game.aps
proj.win32/game.rc
