<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Frame-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,2},{355,261}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{355,261}}</string>
                <key>sourceSize</key>
                <string>{359,305}</string>
            </dict>
            <key>frame-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{355,261}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{355,261}}</string>
                <key>sourceSize</key>
                <string>{359,305}</string>
            </dict>
            <key>frame-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,265},{353,299}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{353,299}}</string>
                <key>sourceSize</key>
                <string>{359,305}</string>
            </dict>
            <key>frame-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,566},{353,277}}</string>
                <key>offset</key>
                <string>{1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{353,277}}</string>
                <key>sourceSize</key>
                <string>{359,305}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>character.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cf7d5eeff84f995435988fc03642a14b:a465ab1be3a5d41500203e434343b2e6:9d7b98458f0235176999d89cc8ded93d$</string>
            <key>textureFileName</key>
            <string>character.png</string>
        </dict>
    </dict>
</plist>
